body {background-color:black;background-image:url();color:white;font-size:12px;font-family:'Arial', 'Helvetica', 'Courier New', 'veranda', 'sans-serif';word-wrap:break-word;margin:0;}

div.contain {margin:0 auto;max-width:1000px;}
div.head {background:#272727;text-align:center;font-size:24px;}
div.main {background:#272727;max-width:1000px;}
div.extra {background:#131313;}
div.foot {background:#000;font-size:10px;font-weight:bold;}